{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 8 // or 2017
	},
	"plugins": ["vue"],
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": 0,
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"no-extra-semi": "error",
		"no-console": ["error", { "allow": ["warn", "error"] }],
		"no-empty": ["error", { "allowEmptyCatch": true }]
	}
}